<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-group">
      <%= f.label :username, "Username: ", :class => "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.text_field :username, :disabled => !@user.id.nil?, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, "E-mail: ", :class => "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.text_field :email, :disabled => !@user.id.nil?, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
    <%= f.label :admin_roles, "Roles: ", :class => "control-label col-sm-3" %>
    <% for role in @user.all_admin_roles %>
      <% if current_user.is?(:superuser) or current_user.is? role.to_sym %>
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <%= label_tag "user[admin_roles][#{role}]", :class => "control-label" do %>
                <%= check_box_tag "user[admin_roles][#{role}]", role, @user.admin_roles.include?(role), {:name => "user[admin_roles][]"}%>
                <%= role.humanize.titleize %>
              <% end %>
            </div>
          </div>

  		<% end %>
  	<% end %>
  </div>
	  <%= hidden_field_tag "user[admin_roles][]", "" %>

  </fieldset>

  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </div>
<% end %>
