<%= form_for @user do |f| %>
  <% if @user.errors.any? %>  
    <div id="error_explanation" class="alert alert-error">  
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this record from being saved:</h2>  
      <ul>  
      <% @user.errors.full_messages.each do |msg| %>  
        <li><%= msg %></li>  
      <% end %>  
      </ul>  
    </div>  
  <% end %>
  <fieldset>
    <%= f.label :username, :class => "control-label" do %>
    Username <br />
    <%= f.text_field :username, :disabled => !@user.id.nil? %>
    <% end -%>

    <%= f.label :email, :class => "control-label" do %>
    E-mail <br />
    <%= f.text_field :email, :disabled => !@user.id.nil? %>
    <% end -%>

	<% for role in User::ROLES %>
	<%= f.label "user_roles_#{role}", :class => "control-label" do %>
		<%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
		<%= role.humanize.titleize %>
	<% end %>
	<% end %>
	<%= hidden_field_tag "user[roles][]", "" %>

  </fieldset>
  <p>
    <button class="btn" type="submit">Save changes</button>
  </p>
<% end %>