<p><%= page_entries_info @users %></p>

<%= paginate @users, theme: "bootstrap" %>

<div class="btn-group">
  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to new_user_url do %><i class="icon-user"></i> Add user<% end -%></li>
    <li><%= link_to users_url(:format => :csv) do %><i class="icon-download-alt"></i> Download as CSV<% end -%></li>
  </ul>
</div>

<br /><br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= link_to_sorted "Username", :username %>
      </th>
      <th class="hidden-xs">
        <%= link_to_sorted "First name", :firstname %>
      </th>
      <th class="hidden-xs">
        <%= link_to_sorted "Last name", :lastname %>
      </th>
      <th class="hidden-xs">
        <%= link_to_sorted "Email", :email %>
      </th>
      <th class="hidden-xs">Admin?</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%=h user.username %></td>
      <td class="hidden-xs"><%=h user.firstname %></td>
      <td class="hidden-xs"><%=h user.lastname %></td>
      <td class="hidden-xs"><%=h user.email %></td>
      <td class="hidden-xs"><%=h user.is_admin? %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= (can? :destroy, user) ? link_to('Destroy', user, data: { confirm: 'Are you sure?' }, :method => :delete) : 'Destroy' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, theme: "bootstrap" %>
