<% h = @user.try(:user_attributes) || {} %>

<h2>User: <%=h @user.username %></h2>
<div id="show_user">
  
<dl class="dl-horizontal">
<dt>NetID</dt>
<dd>&nbsp;<%=h @user.username %></dd>

<dt>First name</dt>
<dd>&nbsp;<%=h @user.try(:firstname) %></dd>

<dt>Last name:</dt>
<dd>&nbsp;<%=h @user.try(:lastname) %></dd>

<dt>E-mail:</dt>
<dd>&nbsp;<%=h @user.email %></dd>

<dt>College name:</dt>
<dd>&nbsp;<%=h h[:college_name]%></dd>

<dt>College code:</dt>
<dd>&nbsp;<%=h h[:college_code]%></dd>

<dt>Departmental affiliation:</dt>
<dd>&nbsp;<%=h h[:dept_name]%></dd>

<dt>Major:</dt>
<dd>&nbsp;<%=h h[:major]%></dd>

<dt>Patron status:</dt>
<dd>&nbsp;<%=h h[:bor_status]%></dd>

<dt>Roles:</dt>
<dd>&nbsp;<%= @user.roles_list %>

</dl>

<p>
	<b>Deleted Reservations (up to 1 month):</b>
	<table class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>Date/time</th>
			<th>Location</th>
			<th>Deleted by</th>
			<th>Date created</th>
			<th>Date deleted</th>
		</tr>
		</thead>
		<tbody>
		<% @user.reservations.deleted.one_month.each do |r| %>
		<tr id="<%= r.id%>" class="<%=highlight(r)%>">
			<td><a title="<%= r.id%>"></a><%= prettify_date(r.start_dt)%> &mdash; <%= prettify_date(r.end_dt)%></td>
			<td><%= r.room.title %></td>
			<td><%= get_deleted_by(r)%></td>
			<td><%= prettify_date(r.created_at)%> <%= r.created_at_timezone %></td>
			<td><%= prettify_date(r.deleted_at)%> <%= r.deleted_at_timezone %></td>
		</tr>
		<% end %>
		</tbody>
	</table>
</p>	

<p>
	<b>Past Reservations (up to 1 month):</b>
	<table class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>Date/time</th>
			<th>Location</th>
			<th>Date created</th>
		</tr>
		</thead>
		<tbody>
		<% @user.reservations.active.no_blocks.past.one_month.each do |r| %>
		<tr id="<%= r.id%>" class="<%=highlight(r)%>">
			<td><a title="<%= r.id%>"></a><%= prettify_date(r.start_dt)%> &mdash; <%= prettify_date(r.end_dt)%></td>
			<td><%= r.room.title.html_safe %></td>
			<td><%= prettify_date(r.created_at)%> <%= r.created_at_timezone %></td>
		</tr>
		<% end %>
		</tbody>
	</table>
</p>

<p>
	<b>Current Reservations:</b>
	<table class="table table-bordered table-striped">
		<thead>
		<tr>
			<th>Date/time</th>
			<th>Location</th>
			<th>Date created</th>
		</tr>
		</thead>
		<tbody>
		<% @user.reservations.active.no_blocks.current.each do |r| %>
		<tr id="<%= r.id %>" class="<%= highlight(r)%>">
			<td><a title="<%= r.id%>"></a><%= prettify_date(r.start_dt)%> &mdash; <%= prettify_date(r.end_dt)%></td>
			<td><%= r.room.title %></td>
			<td><%= prettify_date(r.created_at)%> <%= r.created_at_timezone %></td>
			<td><%= link_to "Destroy", reservation_delete_path(r, :return_url => request.original_url), :method => :put, :confirm => "Are you sure?" %>
		</tr>
		<% end %>
		</tbody>
	</table>
</p>

<br />
<%= icon_tag :edit %>
<%= link_to 'Edit', edit_user_path(@user) %> | 
<%= icon_tag :back %>
<%= link_to 'Back', users_path %>
</div>
