<h1>Conflicting reservations</h1>

<p>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>User</th>
				<th>Date/time</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			<% @existing_reservations.each do |res| %>
				<tr id="<%= res.id%>">
					<td><%= link_to res.user.username, user_path(res.user), :target => "_blank" %></td>
					<td><%= prettify_date(res.start_dt)%> &mdash; <%= prettify_date(res.end_dt)%></td>
					<td><%= res.room.title %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>

