<% get_times_array %>

<p class="hidden-phone availability_grid_desc">Select a room with your preferred timeslot, or <%= link_to('adjust your timeslot', root_url, :class => "close_dialog")%> for more availability.</p>

<div class="legend hidden-phone">
  <div class="legend_unavailable"></div><div class="legend_text">Unavailable</div>
  <div class="legend_available"></div><div class="legend_text">Available</div>
  <div class="legend_selected"></div><div class="legend_text">Your preferred timeslot</div>
</div>

<a href="#" id="top_of_page" title="top_of_page">&nbsp;</a><%= paginate @rooms, theme: "bootstrap", remote: true, :params => {:controller => 'reservations', :action => 'new'} %>

<div class="availability_grid_content">

<%= form_for @reservation, :remote => true, :html => {:class => "ajax_form"} do |f| %>
<% if @reservation.errors.any? %>  
  <div id="error_explanation" class="alert alert-error">  
    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>  
    <ul>  
    <% @reservation.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
<% end %>

<table class="table table-bordered">
	<tr class="hidden-phone">
		<td colspan="5"></td>
		<td colspan="<%=(@times.size.to_f / 2.0).floor %>">
			<div class="reservation_timeslot_hunt" id="backOptions">
			<div id="back_one_day">
				<%= render :partial => "rebuild_grid", :locals => { :start_dt => @start_dt.to_datetime - 1.day, :end_dt =>  @end_dt.to_datetime - 1.day, :submit_text => "&laquo; Prev day".html_safe}%>
			</div>
			<div id="back_thirty_mins">
				<%= render :partial => "rebuild_grid", :locals => { :start_dt => @start_dt.to_datetime - 30.minutes, :end_dt => @end_dt.to_datetime - 30.minutes, :submit_text => "&lsaquo; Back 1/2 hour".html_safe}%>
			</div>
			</div>
		</td>
		<td colspan="<%=(@times.size.to_f / 2.0).ceil %>">
			<div class="reservation_timeslot_hunt" id="forwardOptions">
			<div id="forward_one_day">
				<%= render :partial => "rebuild_grid", :locals => { :start_dt => @start_dt.to_datetime + 1.day, :end_dt => @end_dt.to_datetime + 1.day, :submit_text => "Next day &raquo;".html_safe}%>
			</div>
			<div id="forward_thirty_mins">
				<%= render :partial => "rebuild_grid", :locals => { :start_dt => @start_dt.to_datetime + 30.minutes, :end_dt => @end_dt.to_datetime + 30.minutes, :submit_text => "Forward 1/2 hour &rsaquo;".html_safe}%>
			</div>
			</div>
		</td>
	</tr>
	<tr>
		<th></th>
		<th><div class="sort_by_field">
		  <%#= link_to_sorted "Room", :title, remote: true %>
		  <%= sortable :title, "Room", {:action => "new"}, true %>
		</div></th>
		<th class="hidden-phone"><div class="sort_by_field">
		  <%#= link_to_sorted "Type", :type_of_room, remote: true  %>
		  <%= sortable :type_of_room, "Type", {:action => "new"}, true %>
		</div></th>
		<th class="hidden-phone">Details</th>
		<th class="hidden-phone"><div class="sort_by_field">
		  <%#= link_to_sorted "Size", :sort_size_of_room, remote: true %>
		  <%= sortable :sort_size_of_room, "Size", {:action => "new"}, true %>
		</div></th>
    <% @times.each do |timeslot| %>
    <th class="date-cell">
      <span class="hidden-phone"><%= prettify_dayofweek(timeslot) %><br /></span>
      <%= prettify_simple_date(timeslot) %><br />
      <%= prettify_time(timeslot) %>
    </th>
    <% end -%>
	</tr>
	
<% @rooms.each do |r| %>
	<tr>
		<td><%= radio_button :reservation, :room_id, r.id, :disabled => disable_reservation_button(r), :class => "new_reservation_radio_select" %></td>
		<td style="width:60px;">
		<b><%= r.title %></b>
		</td>
		<td class="hidden-phone" style="width:60px;">
		<b><%= r.type_of_room %></b>
		</td>
		<td class="hidden-phone">
		<% unless r.description.blank? %><b><%= get_formatted_text(r.description) %></b><br /><% end %>
		<% unless r.image_link.blank? %><%= icon_tag :photo %><%= link_to "See image", r.image_link, :target => :blank, :class => "preview_image" %><% end %>
		</td>
		<td class="hidden-phone" style="width:60px;">
		<b><%= r.size_of_room %></b>
		</td>
		<%= construct_grid_data(r) %>
	</tr>
<% end %>
	<tr>
		<td></td>
		<td colspan="2" class="extra_fields">
			<div id="res_title_label_div"><%= label_tag "reservation[title]", "<strong>Name your event</strong> <em>(optional)</em>:".html_safe %> </div>
		</td>
		<td colspan="<%= @times.size + 2%>" class="extra_fields">
			<div id="res_title_div"><%= text_field :reservation, :title %></div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2" class="extra_fields">
			<div id="res_cc_label_div"><%= label_tag "reservation[cc]", "<strong>Add CCs</strong> <em>(for collaborative rooms)</em>: <a class=\"tip-simple nyulibrary_icons_information\" title=\"Collaborative rooms are intended for use by groups; please enter the email of another member of your group to indicate that this booking meets this requirement.\" alt=\"Collaborative rooms are intended for use by groups; please enter the email of another member of your group to indicate that this booking meets this requirement.\"></a>".html_safe %> </div>
		</td>
		<td colspan="<%= @times.size + 2%>" class="extra_fields">
			<div id="res_cc_div"><%= text_field :reservation, :cc %></div>
		</td>
	</tr>
	<tr>
		<td colspan="<%= @times.size + 5%>">
			<%= f.hidden_field "user_id", :value => @user.id %>
			<%= f.hidden_field "start_dt", :value => @start_dt %>
			<%= f.hidden_field "end_dt", :value => @end_dt %>
      <button type="submit" class="btn">
        Reserve selected timeslot
      </button>
		</td>
	</tr>
</table>
<% end %>

</div>

<%= paginate @rooms, theme: "bootstrap", remote: true %>

<div class="legend">
  <div class="legend_unavailable"></div><div class="legend_text">Unavailable</div>
  <div class="legend_available"></div><div class="legend_text">Available</div>
  <div class="legend_selected"></div><div class="legend_text">Your preferred timeslot</div>
</div>



