<% @rooms.results.each do |room| %>
<% room = RoomDecorator.decorate(room) %>

	<tr <%= (params[:reservation][:room_id] == room.id) ? "class=selected_room" : ''%>>
		<td class="hide_radio"><%= radio_button :reservation, :room_id, room.id, :disabled => disable_reservation_button(room), :class => "new_reservation_radio_select", :checked => check_reservation_button(room) %></td>
		<td class="room_title room_info">
      <div class="room_title_text"><%= room.title %></div>
      <%= link_to "details", show_room_details_path(:id => room.id), :target => "_blank", :class => "room_details_link" %>
  		<div class="room_details room_info">
  		<% unless room.description.blank? %><%= get_formatted_text(room.description) %><br /><% end %>
      <%= link_to "See more", show_room_details_path(:id => room.id), :target => "_blank" %>
  		</div>
    </td>
		<td class="hidden-phone room_type room_info"><%= room.type_of_room %></td>
		<td class="hidden-phone room_size room_info"><%= room.size_of_room %></td>
		<%= construct_grid_data(room) %>
	</tr>
<% end %>
