<p><%= page_entries_info @rooms, :entry_name => 'room' %></p>

<%= paginate @rooms, theme: "bootstrap" %>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to new_room_url do %><i class="icon-plus"></i> Add room<% end -%></li>
    <li><%= link_to sort_rooms_url(:room_group => params[:room_group]), :method => :get do %><i class="icon-tasks"></i> Update sort order<% end -%></li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Filter
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
	<li><%= link_to "<None>", rooms_url %>
	<% RoomGroup.all.each do |room_group| %>
		<% if can? room_group.code.to_sym, RoomGroup %>
    	<li><%= link_to rooms_url(params.merge({:room_group => room_group.code})) do %> <%= room_group.title %><% end -%></li>
		<% end %>
	<% end %>
  </ul>
</div>

<br /><br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= sortable :title, "Title", {}, false %>
      </th>
      <th class="hidden-phone">
        <%= sortable :type_of_room, "Type of room", {}, false %>
      </th>
      <th class="hidden-phone">
        <%= sortable :sort_size_of_room, "Size of room", {}, false %>
      </th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
    <tr>
      <td><%=h room.title %></td>
      <td class="hidden-phone"><%=h room.type_of_room %></td>
      <td class="hidden-phone"><%=h room.size_of_room %></td>
      <td><%= link_to 'Show', room %></td>
      <td><%= link_to 'Edit', edit_room_path(room) %></td>
      <td><%= link_to 'Destroy', room, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @rooms, theme: "bootstrap" %>