<noscript>
	<div class="alert alert-danger">Sorry, you cannot update the order without JavaScript enabled.</div>
</noscript>

<h1>Listing rooms</h1>

<p>Drag and drop rooms to reorder list. Note that reordering will trigger a reindex and may take some time to become visible on the frontend.</p>

<div id="box_container">

<blockquote>
  <%= form_tag({:controller => "rooms", :action => "update_sort"}, method: :patch) do |f| %>

  <ul id="list_rooms" class="sortable_list">
  <% @rooms.each do |room| %>
  	<%= content_tag_for :li, room do %>
  	  <%= hidden_field_tag "rooms[]", room.id %>
      <h4 id="room_span_<%=room.id%>" class="room_header"><%= fa_icon "arrows" %>&nbsp;<%=h room.title %></h4>
  	<% end %>
  <% end %>
  </ul>

  <% end %>
</blockquote>

</div>

<br />
