<% if current_user.is? :admin %>
	<%= sidebar_section("admin_panel", content_tag(:h2, "Admin Panel"), true) do %>
	    <ul class="admin_options">
	      <li><%= link_to "Manage Rooms", rooms_url %></li>
	      <li><%= link_to "Manage Users", users_url %></li>
	      <li><%= link_to "Manage Blocks", blocks_url %></li>
	      <li><%= link_to "Reporting", reports_url %></li>
	    </ul>
	<% end -%>
<% end %>

<%= render "reservations/policies" %>

<% unless @user.nil? or in_admin_view? %>
<%= render :partial => "reservations/past_reservations"%>
<% end %>

<% unless @user.nil? or in_admin_view? %>
<%= render :partial => "reservations/current_reservations"%>
<% end %>

<%= render "blocks/help" if request.url.match(/blocks/) %>